body {
    background-image: url(image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#page2 {
    background-image: url(backgroun2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

header {
    color: tomato;
    text-align: center;
}

#pText {
    border: 4px hsl(0, 80%, 46%) double;
    width: 30%;
    height: 40%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    background-color: black;
    overflow: auto;
    margin: 10px;
}

#pText2 {
    border: 4px hsl(0, 80%, 46%) double;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;

    margin: 10px;
    transform: translate(0px, 650px);
    position: relative;
}

#pText2>p {
    color: greenyellow;
    font-family: Ifont, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    transform: translateX(-17%);
}

@font-face {
    font-family: Ifont;
    src: url(Jaro-Regular.ttf);
}

#pText>p {
    color: greenyellow;
    font-family: Ifont, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

#ppic {

    height: 250px;
    left: -27%;
    top: 230px;
    position: relative;
    float: right;
}

a {
    color: rgb(232, 255, 127);
    display: block;
}

a:hover {
    color: yellow;
    display: inline;
    background-color: brown;
}

.div {
    color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

#outerdiv {
    border: 4px double greenyellow;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    display: flow-root;
    background-color: rgb(20, 18, 27);
}

#innerdiv {
    padding: 10px;
    border: 2px solid hsl(0, 90%, 60%);
    width: 50%;
    float: left;
    display: flow-root;
    height: 550px;
    overflow: auto;

}



#smalltitle {
    font-size: 24px;
    font-weight: bolder;
    color: skyblue;
    border-top: 4px dashed greenyellow;
    padding-top: 10px;
}

li:hover {
    color: rgb(63, 255, 63);

    animation-name: "glowing";
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

#learnmore {
    animation-name: "scaling";
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#footer2 {
    position: relative;
    top: 200px;
    color: orangered;
}

#goback {
    animation-name: "scaling";
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#footer1 {
    color: orangered;
    clear: both;
    transform: translateY(480px);
}

@media screen and (max-width:700px) {

    #ppic {
        height: 250px;
        position: fixed;
        top: 200px;
        left: 230px;
        float: right;
    }

    #pText>p {
        font-size: 15px;
    }

    #pText2>p {
        font-size: 16px;
    }


}

@keyframes glowing {
    50% {
        text-shadow: 3px 3px 5px gold, -3px -3px 5px gold, -3px 3px 5px gold, 3px -3px 5px gold;
    }
}

@keyframes scaling {
    50% {
        transform: scale(1.1);
    }
}